.login{
  width: 100vw;
  height: 100vh;
  position: relative;
  // 这里还缺一张背景图
  background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1578369994055&di=7f9b045725d354c42fb78ae540f0d021&imgtype=0&src=http%3A%2F%2Fww1.sinaimg.cn%2Flarge%2F006aP1Vrjw1f83m73alb0j318g0p3e6w.jpg);
  background-size:cover;
  .title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    padding-top: 20px;
  }
  .login-card{
    width: 350px;
    height: 420px;
    position: absolute;
    background: rgba(255,255,255,0.6);
    right: 50px;
    top: 20%;
  }
}